{% extends 'base.html.twig' %}
{% block body %}


	{{form_start(addressForm)}}
		{% if error %}
			<div class="alert alert-danger">cette adresse existe déjà</div>
		{% endif %}
		<p class="h1">Créer adresse</p>
		{{form_widget (addressForm)}}
		
		<input type="submit" class="btn btn-info btn-block my-4" value='Créer adresse'>

	{{form_end(addressForm)}}

{% endblock %}


