{% extends 'base.html.twig' %}

{% block body %}

<h1 class="col-12">Liste des adresses</h1>

{% if listAddresses|length > 0 %}

	{% for address in listAddresses %}
		<div class="col-4" style='margin-bottom:15px'>
			<div class='card'>
					<div class='card-body'>
						<h5 class='card-title'>{{address.street}}</h5>
						<h5 class='card-title'>{{address.streetNumber}}</h5>
						<h5 class='card-title'>{{address.zipCode}}</h5>
						<h5 class='card-title'>{{address.city}}</h5>
						<h5 class='card-title'>{{address.additionalAddresse}}</h5>
						<h5 class='card-title'>{{address.country}}</h5>
						<a class='btn btn-warning' href="{{ path('PageUpdateAddress', {'id' : address.id})}}"> Modifier</a>
						<a class='btn btn-danger' href="{{ path('PageDeleteAddress', {'id' : address.id})}}" onclick="return confirm('Voulez-vous le supprimer?')"> Spprimer</a>
					</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}