{% extends 'base.html.twig' %}
{% block body %}

	{{form_start(addressForm)}}
	<p class="h1">Modifer adresse</p>
	{{form_widget (addressForm)}}
	<input type="submit" class="btn btn-info btn-block my-4" value='Modifier adresse'>

	{{form_end(addressForm)}}

{% endblock %}


