{% extends 'base.html.twig' %}

{% block body %}
<div class='card'>
	<div class="container-fliud">
		<div class="wrapper row">

			<div class="preview col-md-6">
				<div class="preview-pic tab-content">
					{% if productDetail.images != [] %}
						<p>
							<img id="product-img" src="{{ asset('/uploads/products/' ~ productDetail.images[0]) }}" style="max-width:300px"/>
						</p>
                            <ul class="preview-thumbnail nav nav-tabs">
                            {% for image in productDetail.images %}
                                <li><a><img src="{{ asset('/uploads/products/' ~ image) }}" /></a></li>
                            {% endfor %}
						    </ul>
					{% endif %}
				</div>
			</div>
			<div class="details col-md-6">
				<span class="product-id" hidden>{{ productDetail.id }}</span>
				<h3 class="product-title">{{ productDetail.name }}</h3>
				<p class="product-description">{{ productDetail.description }}</p>
				<h4 class="product-price">Prix: <span>{{ productDetail.price|format_currency('EUR') }}</span></h4>
				<h4 class="product-qute">Nombre: </h4><span><input id='product-qute' type='number' value='1'></span>
				
				<h5 class="references">Reference:</h5>
				<span class="reference" data-toggle="tooltip" title="small">{{ productDetail.reference }}</span>
				<div class="action">
                	<input type="submit"  id="add-to-cart" class="btn btn-info btn-block my-4 " value='Ajouter au panier'>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}




{% block javascripts %}

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	
	<script>
    
    const monStockage = localStorage;
    
    $('li>a>img').click(function (e) { 
        let src = e.currentTarget.attributes.src.nodeValue;
        $('p>img').attr('src',src);
        
    });

    $('#add-to-cart').click(function(e){
        const currentStorage = JSON.parse(monStockage.getItem('panier')) || [];
        const nomProduit = $('.product-title').text();
        const prixProduit = $('.product-price>span').text();
        const imgProduit = $('#product-img').attr('src');
        const quteProduit = $('#product-qute').val();
        const idProduit = $('#product-id').val();

        monStockage.setItem('panier', JSON.stringify([...currentStorage, {nomProduit, prixProduit, imgProduit, quteProduit, idProduit}]));
        monStockage.setItem('panier2', 'coucou');
        
        console.log(monStockage);        
    })

	</script>

{% endblock %}



{% block stylesheets %}
   
<style>

img {
  max-width: 100%; }

.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; 
}

@media screen and (max-width: 996px) {
.preview {
	margin-bottom: 20px; } 
}
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 20%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; 
    }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1; 
}

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-title, .product-price, .references {
  text-transform: UPPERCASE;
  font-weight: bold; }

.product-price span {
  color: #ff9f1a; }

.product-title, .product-description, .product-price, .references {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.reference {
  margin-right: 10px; }
  .reference:first-of-type {
    margin-left: 40px; }
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

</style>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock %}


