{% extends 'base.html.twig' %}

{% block body %}


{% if listProducts|length > 0 %}

	<table class="table table-image">
		<thead class="thead-dark">
			<tr class="text-center">
				<th>Produit</th>
				<th>Nom</th>
				<th>Prix</th>
					<th></th>

				{% if is_granted('ROLE_ADMIN') %}
					<th style='background-color:red'>ADMIN</th>
					<th style='background-color:red'></th>
				{% endif %}

			</tr>
		</thead>
		<!-- Table body with the list of products -->
		<tbody id="productList">
		{% for products in listProducts %}
			<tr class="text-center">
					
				<div class='card-body'>
					{% if products.images != null %}
							<td class="w-25 align-middle">
							<a href="{{ path('PageDetailsProduct', {'id' : products.id})}}">
								<img src="{{ asset('/uploads/products/' ~ products.images[0]) }}" style="max-width:300px"/> 
							</a>
							</td>
					{% endif %}
						<td class="w-25 align-middle"><a href="{{ path('PageDetailsProduct', {'id' : products.id})}}">{{products.name}}</a></td>
					<td class="w-25 align-middle">{{products.price}}</td>
					<td class="w-25 align-middle"><a class='btn btn-primary' href="{{ path('PageDetailsProduct', {'id' : products.id})}}">Voir</a></td>
					{% if is_granted('ROLE_ADMIN') %}
						<td class="w-25 align-middle"><a class='btn btn-primary' href="{{ path('PageUpdateProduct', {'id' : products.id})}}">Modifier</a></td>
						<td class="w-25 align-middle"><a class='btn btn-primary' href="{{ path('PageDeleteProduct', {'id' : products.id})}}" onclick="return confirm('Voulez-vous le supprimer?')">Supprimer</a></td>
					{% endif %}
				</div>
			</tr>
		{% endfor %}
		</tbody>
	</table>	

{% endif %}

{% endblock %}