{% extends 'base.html.twig' %}
{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
	<meta http-equiv="cache-control" content="no-cache">
	{{form_start(productForm)}}
	<p class="h1">Modifier produit :</p>
	 <span class="h5">{{ productName}}</span></br></br>
	{{form_widget (productForm)}}
	<input type="submit" class="btn btn-info btn-block my-4" value='Modifier produit'>

	{{form_end(productForm)}}

{% endif %}
{% endblock %}

{% block javascripts %}

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	
	<script>
	$("#form div").attr('class',"form-group");
	    $('<div id="checkCat" class="d-flex justify-content-around"></div>').insertBefore( "#form_categories" );
	    $('<div id="checkLic" class="d-flex justify-content-around"></div>').insertBefore( "#form_licences" );
		$('select#form_categories option').each(function(){
			var val = $(this).val();
			$("#checkCat").append('<div class="custom-control custom-checkbox"><input name="form[categories][]" type="checkbox" id="checkCat'+$(this).val()+'" class="custom-control-input" value="'
									+$(this).val()+'"><label class="custom-control-label" for="checkCat'+$(this).val()+'">'+$(this).text()+'</label></div>');
		});

		$('select#form_licences option').each(function(){
			var val = $(this).val();
			$("#checkLic").append('<div class="custom-control custom-checkbox"><input type="checkbox" id="checkLic'+$(this).val()+'" class="custom-control-input" value="'
									+$(this).val()+'"><label class="custom-control-label" for="checkLic'+$(this).val()+'">'+$(this).text()+'</label></div>');
		});
		$('#checkCat').attr('style',"max-width:400px;display:flex;flex-wrap:wrap;border:1px solid Gainsboro;border-radius:.25rem")

		$('#checkLic').attr('style',"max-width:400px;display:flex;flex-wrap:wrap;border:1px solid Gainsboro;border-radius:.25rem")

		$('#form_categories').remove();
		$('#checkCat').removeAttr('id').attr('id', 'form_categories');
		$('#form_licences').prop('disabled','disabled').hide();
	$("form").attr('class',"text-center border border-light p-5");

	</script>
{% endblock %}

