{% extends 'base.html.twig' %}
{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

	{{form_start(categoryForm)}}
	<p class="h1">Créer catégorie</p>
	{{form_widget (categoryForm)}}
	<input type="submit" class="btn btn-info btn-block my-4" value='Modifier produit'>

	{{form_end(categoryForm)}}
{% endif %}

{% endblock %}


