{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

<h1 class="col-12">Liste des categories</h1>

{% if listCategories|length > 0 %}

	{% for category in listCategories %}
		<div class="col-4" style='margin-bottom:15px'>
			<div class='card'>
					<div class='card-body'>
						<h2 class='card-title'>{{category.name}}</h2>
						<a class='btn btn-warning' href="{{ path('PageUpdateCategory', {'id' : category.id})}}"> Modifier</a>
						<a class='btn btn-danger' href="{{ path('PageDeleteCategory', {'id' : category.id})}}" onclick="return confirm('Voulez-vous le supprimer?')"> Spprimer</a>
					</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
{% endif %}

{% endblock %}