{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        <br><br><h1 class="h1">Inscription</h1><br><br>
            {{ form_widget(registrationForm) }}
            <input type="submit" id='submit' class="btn btn-info btn-block my-4" value="M'inscrire" />
    {{ form_end(registrationForm) }}
{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script>
        $('#registration_form > div:not(:last)').wrapAll('<div class="col"/>');
        $('.col').unwrap();
      
        $('#registration_form_address').unwrap();
        $('#registration_form_address').wrap("<div class='col' ></div>");

        $('#registration_form_address > div').unwrap();

        $('.col').wrapAll('<div class="row">');
        
        $('#submit').click(function(e){

            let gsm =$("#registration_form_mobilePhone").val();
            let fixe =$("#registration_form_phone").val();

            const regexMob = /^(0|(00|\+)32)4(5[5-6]|6[05678]|7[0-9]|8|9[0-9])\d{6}/ig;
            const regexFix = /^(0|(00|\+)32)((1[01234569]|2|3|4|5[0-9]|6[01345789]|71|8[012345679]|9))\d{7,9}/ig;

            if(gsm.match(regex) == null){
                
                e.preventDefault();
                $('<span style="border: red 1px solid" !Veuillez entrer un numéro Belge</span>').insertAfter($('#registration_form_mobilePhone'));
            }
            if(fixe.match(regexFix) == null){
                
                e.preventDefault();
                $('<span style="border: red 1px solid" !Veuillez entrer un numéro Belge</span>').insertAfter($('#registration_form_phone'));
            }
        });
    </script>
{% endblock %}