{% extends 'base.html.twig' %}

{% block body %}

<h1 class="col-12">Selectionnez l'adresse de livraison</h1><br><br><br><br>

<div class="col-4" style='margin-bottom:15px'>
	<div class='card'>
	<h5>Adresse de livraison</h5>
			<div class='card-body'>
				<h5 class='card-title'>{{address.street}}</h5>
				<h5 class='card-title'>{{address.streetNumber}}</h5>
				<h5 class='card-title'>{{address.zipCode}}</h5>
				<h5 class='card-title'>{{address.city}}</h5>
				<h5 class='card-title'>{{address.additionalAddresse}}</h5>
				<h5 class='card-title'>{{address.country}}</h5>
			</div>
	</div>
</div>

<div class="col-4" style='margin-bottom:15px'>
	<div class='card'>
	<h5>Detail Client</h5>
			<div class='card-body'>
				<h5 class='card-title'>{{user.name}}</h5>
				<h5 class='card-title'>{{user.firstName}}</h5>
				<h5 class='card-title'>{{user.numClient}}</h5>
			</div>
	</div>
</div>

{% endblock %}