{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <td><a href="{{ path('PageListProducts') }}" class="btn btn-warning btn-sm" id="continue"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><span id="prixTotal"></span><span> €</span></td>
                <td><a href="{{ path('PageChooseDeliveryAddress') }}" class="btn btn-sm btn-success btn-block" id="checkout">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const data = JSON.parse(localStorage.getItem('panier'));

        let tabPrix = [];
        let prixTotal = 0;
        if (data && !data.length == 0) {
            for (const key in data) {

                let prix = parseFloat((data[key].prixProduit).substring(1));
                let qute = parseInt(data[key].quteProduit);

                let ligne = data[key];
                tabPrix.push(ligne);

                prixTotal += prix*qute
                                 
                $('tbody').append('<tr id="trBody'+key+'"></tr>');
                $('#trBody'+key+'').append('<td align="center" class="product" id="product'+key+'"></td>');
                $('#product'+key).append('<div class="row" id="row'+key+'"></div>');
                $('#row'+key).append('<div  id="imgProduit" class="col-sm-2 hidden-xs"><img style="max-width:5em" src="'+data[key].imgProduit+'" alt="..." class="img-responsive"/></div>');
                $('#row'+key).append('<div class="col-sm-10"><h6 class="nomargin">'+data[key].nomProduit+'</h6></div>');

                $('#trBody'+key+'').append('<td align="center" id="prixProduit'+key+'"  data-th="Price">'+data[key].prixProduit+'</td>');
                $('#trBody'+key+'').append('<td align="center"   data-th="Quantite"><input onchange="reloadPrice(this,'+key+')"  id="qute'+key+'" type="number" class="form-control text-center" min="0" max="20" value="'+data[key].quteProduit+'"></td>');
                $('#trBody'+key+'').append('<td align="center" id="subTotal" data-th="Subtotal" class="text-center"><span>'+(prix*qute)+'</span>€</td>');
                $('#trBody'+key+'').append('<td align="center"   class="actions" ><button class="btn btn-danger"><i id="delete" class="fa fa-trash-o"></i></button></td>');

            }
            console.log(tabPrix);
            $('#prixTotal').text('Total: '+ prixTotal );

            function reloadPrice(e,keyId) {

                console.log(e); 

                let qute = parseInt(e.value);
                if(qute >= 0){

                    let prix = parseFloat(e.parentElement.previousElementSibling.innerText.replace('€',''));
                    let total = qute*prix;
                    console.log(qute); 

                    tabPrix[keyId].quteProduit = qute;

                    e.parentElement.nextElementSibling.firstChild.innerText = total.toFixed(2);
                    localStorage.setItem('panier',JSON.stringify(tabPrix));

                    $('#prixTotal').text('Total: '+ createTotal(tabPrix).toFixed(2) );
                }
            }

            function createTotal(tab) {  

                let t = 0; 
                for (let i = 0; i < tab.length; i++) {
                   
                    let q = parseInt(tab[i].quteProduit);
                    let p = parseFloat(tab[i].prixProduit.replace('€',''));
                    let s = q*p;
                    t+=s;
                }
                return t;

            }

            $('#delete').click(function (e){
                console.log(localStorage);
                let idProduct = parseInt($('#btnDelete').val());
                let temp = data.splice(0,1);
                localStorage.setItem('panier',JSON.stringify(data));
                

                document.location.reload(true);
            })

            $('#checkout').click(function (e){

                

            });

        } else {
            $('.justify-content-center').empty();
            $('.justify-content-center').append('<div class="card" style="width: 18rem;">' +
                '<img class="card-img-top" src="../../uploads/others/Sad_Face_Emoji_large.png" alt="Card image cap">' +
                '<div class="card-body">' +
                '<h5 class="card-title">Panier</h5>' +
                '<p class="card-text">HOOOO Your basket is empty....</p>' +
                '<a href="{{ path("PageListProducts") }}" class="btn btn-primary">fill it up!</a>'+
                '</div> '+
                '</div> ');
        }
                       

    </script>
{% endblock javascripts %}

{% block style %}
<style>

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

</style>

{% endblock style %}
