{% extends 'base.html.twig' %}

{% block body %}

<h1 class="col-12">Selectionnez l'adresse de livraison</h1><br><br><br><br>

{% if listAddresses|length > 0 %}

	{% for address in listAddresses %}
		<div class="col-4" style='margin-bottom:15px'>
			<div class='card'>
					<div class='card-body'>
						<h5 class='card-title'>{{address.street}}</h5>
						<h5 class='card-title'>{{address.streetNumber}}</h5>
						<h5 class='card-title'>{{address.zipCode}}</h5>
						<h5 class='card-title'>{{address.city}}</h5>
						<h5 class='card-title'>{{address.additionalAddresse}}</h5>
						<h5 class='card-title'>{{address.country}}</h5>
						<a class='btn btn-success' href="{{ path('PagePayOrder', {'id' : address.id})}}">OK</a>
					</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}