{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-8">
				<div class="card-box">
							<div class="card-box text-center">
								<h4 class="mb-0">Informtaions privées</h4>
									<div class="text-left mt-3">
									<p class="text-muted mb-2 font-13"><strong>Nom :</strong> <span class="ml-2">{{ userDetail.name}}</span></p>
									<p class="text-muted mb-2 font-13"><strong>Prénom :</strong> <span class="ml-2">{{ userDetail.firstName}}</span></p>
									<p class="text-muted mb-2 font-13"><strong>Login :</strong> <span class="ml-2">{{ userDetail.login}}</span></p>
									<p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2">{{ userDetail.email}}</span></p>
									<p class="text-muted mb-2 font-13"><strong>Téléphone :</strong> <span class="ml-2">{{ userDetail.phone}}</span></p>
									<p class="text-muted mb-2 font-13"><strong>Gsm :</strong> <span class="ml-2">{{ userDetail.mobilePhone}}</span></p>
								</div>
							</div> 
							<a class='btn btn-primary' href="{{ path('PageUpdateUser', {'id' : userDetail.id})}}"> Modifier</a>
					</div>
				</div> 
			</div>                
		</div>
	</div>
{% endblock %}


