{% extends 'base.html.twig' %}

{% block body %}

	{{form_start(userForm)}}
	<p class="h1">Modifier User</p>
	{{form_widget (userForm)}}
	<input type="submit" class="btn btn-info btn-block my-4" value='Modifier user'>

	{{form_end(userForm)}}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
	<script>
    $(document).ready(function() {

		let date = new Date();

		$('.js-datepicker').datepicker({
			language:'fr',
			startView: "year",
			format: "yyyy-mm-dd",
		});


	



    });
	</script>

{% endblock %}

