<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageCreateProduct') }}">
            Create Product
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageCreateCategory') }}">
            Create Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageCreateLicence') }}">
            Create Licence
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('PageListCategories') }}">
          List Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('PageListLicences') }}">
          List Licences
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('PageListProducts') }}">
          List Products
        </a>
      </li>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageListAddresses') }}">
            List Addresses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageCreateAddress') }}">
            Create Address
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('PageDetailsUser') }}">
            Detail User
          </a>
        </li>
        {% if app.user %}
          <li><a class="nav-link" href="/logout">Logout</a></li>
          <li><a class="nav-link" href="/orders"><i class="fas fa-shopping-basket"></i></a></li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('PageRegister') }}">Register</a>
          </li>
          <li><a class="nav-link" href="{{ path('PageLogin') }}">Login</a></li>
        {% endif %}
      </ul>
    </ul>
  </div>
</nav>
