
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

a:hover{
  text-decoration: none;
  color:white;
}
a{
  color:black;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
   align-content: space-around;
   background-color:#5c5757;

}
.dropbtn {
  background-color: #5c5757;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover {
  background-color: #f47b09;
}

.dropdown {
  display: inline-block;
  margin-left:10px;
  background-color:#5c5757;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f47b09;}

.dropdown:hover .dropdown-content {
  display: block;
}


</style>

<div class="navbar">
  <a href="{{ path('PageListProducts')}}"><img src="../../uploads/others/home.png" style="width:100px;"></a>
  <div class="dropdown">
    <a href="{{ path('PageListProducts')}}" ><button class="dropbtn">Jeux et figurines</button></a>
    <div class="dropdown-content">
      <a href="{{ path('PageListProductsCat', {'cat':'Funko_Pop'}) }}">Funko Pop</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Figurine'}) }}">Figurine</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Jeux_de_societe'}) }}">Jeux de société</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Carte'}) }}">Carte à jouer</a>
    </div>
  </div>
  <div class="dropdown">
    <a href="{{ path('PageListProducts')}}" ><button class="dropbtn">Textiles et accessoires</button></a>
    <div class="dropdown-content">
      <a href="{{ path('PageListProductsCat', {'cat':'Funko Pop'}) }}">Funk Pop</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Figurine'}) }}">Figurine</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Jeux de societe'}) }}">Jeux de société</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Carte'}) }}">Carte à jouer</a>
    </div>
  </div> 
 <div class="dropdown">
    <button class="dropbtn">Compte</button>
    <div class="dropdown-content">
      <a href="{{ path('PageListAddresses') }}">Adresses</a>
      <a href="{{ path('PageDetailsUser') }}">Détail compte</a>
      <a href="{{ path('PageCreateAddress') }}">Créer adresse</a>
      <a href="{{ path('PageListProductsCat', {'cat':'Carte'}) }}">Carte à jouer</a>
    </div>
  </div> 
  {% if app.user %}
    <a class="dropbtn" href="/logout">Logout</a>
    <a class="dropbtn" href="/orders"><i class="fas fa-shopping-basket"></i></a>
  {% else %}
    <a class="dropbtn" href="{{ path('PageRegister') }}">Register</a>
    <a class="dropbtn" href="{{ path('PageLogin') }}">Login</a>
  {% endif %}
  {% if is_granted('ROLE_ADMIN') %}
        
          <a class="dropbtn" href="{{ path('PageCreateProduct') }}">
            Create Product
          </a>
        
        
          <a class="dropbtn" href="{{ path('PageCreateCategory') }}">   
            Create Category
          </a>
        
        
          <a class="dropbtn" href="{{ path('PageCreateLicence') }}">
            Create Licence
          </a>
        
      
        <a class="dropbtn" href="{{ path('PageListCategories') }}">
          List Categories
        </a>
      
      
        <a class="dropbtn" href="{{ path('PageListLicences') }}">
          List Licences
        </a>
      
      {% endif %}
</div>

