{% extends 'base.html.twig' %}
{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

	{{form_start(licenceForm)}}
	<p class="h1">Créer licence</p>
	{{form_widget (licenceForm)}}
	<input type="submit" class="btn btn-info btn-block my-4" value='Modifier licence'>

	{{form_end(licenceForm)}}
{% endif %}

{% endblock %}


