{% extends 'base.html.twig' %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		<h1 class="col-12">Liste des licences</h1>

		{% if listLicences|length > 0 %}

			{% for licence in listLicences %}
				<div class="col-4" style='margin-bottom:15px'>
					<div class='card'>
						<div class='card-body'>
							<h2 class='card-title'>{{licence.name}}</h2>
								<a class='btn btn-warning' href="{{ path('PageUpdateLicence', {'id' : licence.id})}}"> Modifier</a>
								<a class='btn btn-danger' href="{{ path('PageDeleteLicence', {'id' : licence.id})}}" onclick="return confirm('Voulez-vous le supprimer?')"> Spprimer</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
{% endif %}
{% endblock %}